body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    color: var(--main-color);
}
:root {
    --main-color:#434455;
    --main-dark-color:#2E2F42;
    --main-light-color:#F4F4FD;
    --color-hover-effect:#404BBF;
    --main-blue-color: #4D5AE5;
    --main-white-color: #FFFFFF;
    --main-silvery-color: #E7E9FC;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* ---------header-section--------- */
 /* ---------logo--------- */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-dark-color);
}
.span-logo {
    color: var(--main-blue-color);
}

/* ---------navigation-menu--------- */
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-dark-color);
}
.menu-link:hover,
.menu-link:focus {
    color: var(--color-hover-effect);
}

/* ---------contacts-number--------- */
/* ---------contacts-email--------- */
.contact-phone-number {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-color);
}
.contact-phone-number:hover,
.contact-phone-number:focus {
    color: var(--color-hover-effect);
}

.contact-email-adress {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-color);
}
.contact-email-adress:hover,
.contact-email-adress:focus {
    color: var(--color-hover-effect);
}

/* ---------hero-section--------- */
.hero {
    background: var(--main-dark-color);
}
.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: var(--main-white-color);

}
.main-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--main-white-color);
    background: var(--main-blue-color);
    cursor: pointer;
}
.main-button:hover,
.main-button:focus {
    color: var(--color-hover-effect);
}

/* ---------goal-section--------- */
.goal-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main-dark-color);
}
.goal-text {

    font-size: 16px;
    line-height: 1.5;
}

/* ---------services-section--------- */
.services-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    color: var(--main-dark-color)
}
.services-img {
    width: 360px;
    height: 300px;
}

/* ---------team-section--------- */
.team {
    background: var(--main-light-color);
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: var(--main-dark-color);
}
.team-item {
    background: var(--main-white-color);
}
.team-img {
    width: 264px;
    height: 260px;
}
.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main-dark-color);
}
.team-text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-color);
}

/* ---------footer--------- */
.page-footer {
    background: var(--main-dark-color);
    color: var(--main-light-color);
}
.logo-footer-link {
    color: var(--main-light-color);
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-silvery-color);
}

/* ---------porfolio-section-btn--------- */
.portfolio-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--main-blue-color);
    background: var(--main-light-color);
    cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
    background: var(--color-hover-effect);
    color: var(--main-white-color);
}

/* ---------porfolio-img--------- */
.portfolio-img {
    width: 360px;
    height: 300px;
}
.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main-dark-color);
}
.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
}